<%= form_for [:admin, @user] do |f| %>
 
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
 
 
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>
  
   <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :contact_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contact_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :birth_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birth_date, :id => 'season_start_date ' %>
    </div>
  </div>
  
   <div class="control-group">
    <%= f.label :joining_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :joining_date, :id => 'season_start_date ' %>
    </div>
  </div>
  
   <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'password-field' %>
    </div>
  </div>
  
 <div class="control-group">
    <%= f.check_box :is_active %>
    <div class="controls">
      <%= f.label :is_active, "Is an active user?", :class => 'control-label' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.check_box :is_admin %>
    <div class="controls">
      <%= f.label :is_admin, "Is an admin?", :class => 'control-label' %>
    </div>
  </div>

   <div class="control-group">
    <%= f.check_box :is_manager %>
    <div class="controls">
      <%= f.label :is_manager, "Is Manager?", :class => 'control-label' %>
    </div>
  </div>
   <div class="control-group">
    <%= f.check_box :is_hr %>
    <div class="controls">
      <%= f.label :is_hr, "Is HR?", :class => 'control-label' %>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
